@model int


<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order placed successfully!</h1>
        Your order confirmation id is @Model<br />
        <img src="/Images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center">
        <br />
        Your order is placed successfully
        <br />
    </div>
</div>