@model int


<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment successfully!</h1>
        Your order confirmation id is @Model<br />
        <img src="/Images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center">
        <br />
        Your order is placed successfully
        <br />
        <a asp-action="Details" asp-route-id="@Model" class="btn btn-primary"> Back to orders </a>
    </div>
</div>